<h1>Listing category_tags</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @category_tags.each do |category_tag| %>
  <tr>
    <td><%= link_to 'Show', category_tag %></td>
    <td><%= link_to 'Edit', edit_category_tag_path(category_tag) %></td>
    <td><%= link_to 'Destroy', category_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category tag', new_category_tag_path %>
